@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,700&display=swap");

:root {
  /* Colors */
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --white: #ffffff;
  --grey-border-color: #d6d6d6;
  --author-color: #5d5d5d;
  --top-paragraph-color: #333333;

  /* Box-Shadow */
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 15px 0px;

  /* Borders */
  --favourite-topic-border: 1px solid var(--grey-border-color);

  /* Fonts */
  --primary-font: "Nunito Sans", sans-serif;
}

body {
  position: relative;
  font-family: var(--primary-font);
  padding: 0px;
  margin: 0px;
  background-color: var(--bg_body);
}

.dark {
  /* Colors */
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #1a1a1a;
  --bg_body: #282828;
  --lines-color: #000000;
  --body-text: #ededed;
  --white: #1a1a1a;
  --top-paragraph-color: #ffffff;
  --author-color: #aaaaaa;
  --grey-border-color: #000000;

  /* Box-Shadow */
  --box-shadow: rgba(6, 6, 7, 0.2) 0px 2px 5px 0px;

  /* Borders */
  --favourite-topic-border: none;
}

.container {
  padding: 0.3rem 2.8rem;
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.rounded {
  border-radius: 10px;
}
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}
.navTitle {
  color: var(--brand-primary);
  font-size: 18px;
  margin: 1rem 0rem 1rem 0rem;
  text-decoration: none;
}

.navList {
  display: flex;
  justify-content: space-between;
}
.navButtonIcon {
  color: var(--body-text);
  --ionicon-stroke-width: 40px;
  padding: 0px 4px;
}
.navListButton {
  color: var(--body-text);
  text-decoration: none;
  border: 2px solid var(--grey-border-color);
  padding: 5px 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
  background-image: url("./assets/desktop-top-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--white);
}

.topText {
  align-self: center;
  margin-top: 4rem;
}
.top h2,
.topP {
  margin: 0px;
}
.top h2 {
  color: var(--brand-secondary);
}
.topP {
  font-size: 18px;
  color: var(--top-paragraph-color);
}

.inputSection {
  margin-top: 0.7rem;
  position: relative;
  font-weight: 500;
  display: flex;
  height: 3.5rem;
  background-color: var(--white);
  color: var(--body-text);
}
.searchSection {
  width: 70%;
  display: flex;
  justify-content: center;
  padding-left: 2.3rem;
}
.inputField {
  width: 100%;
  font-size: 16px;
  font-family: var(--primary-font);
  outline: none;
  border: 1px solid var(--grey-border-color);
  border-top: none;
  border-bottom: none;
  border-left: none;
  background-color: var(--white);
  color: --;
}
.searchIcon {
  font-size: 20px;
  position: absolute;
  align-self: center;
  left: 11px;
  color: var(--body-text);
}
.selectsContainer {
  display: flex;
  width: 40%;
}
.sortInput {
  border: 1px solid var(--grey-border-color);
  border-top: none;
  border-bottom: none;
  border-left: none;
  width: 100%;
}
.selectsContainer .selectInput {
  padding: 0.2rem 0.5rem;
  width: 100%;
}
.styled-select {
  border: none;
  width: 100%;
  font-family: var(--primary-font);
  outline: none;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--white);
  color: var(--body-text);
}

.selectsContainer label {
  font-size: 13px;
  padding-left: 4px;
}

.topicsTitle {
  color: var(--body-text);
}

.topics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}
.topic {
  height: fit-content;
  background-color: var(--white);
  max-width: 300px;
  text-decoration: none;
  color: var(--body-text);
}
.topic img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 150px;
  background-color: var(--white);
}

.topicDescription {
  padding: 1rem 1rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topicTitle {
  margin: 0px;
}
.author {
  color: var(--author-color);
  font-size: 14px;
  margin: 0px;
}

.favouratesSection {
  position: sticky;
  color: var(--body-text);
  background-color: var(--white);
  bottom: 0px;
}
.favouratesTitle {
  margin: 0.4rem 0rem;
}

.favouriteTopicsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
  gap: 15px;
  padding-bottom: 0.5rem;
}

.favouriteTopic {
  max-width: 9rem;
  border: var(--favourite-topic-border);
}
.favouriteTopicImg {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
}
.favouriteTopicTitle {
  margin: 0px;
  padding: 0rem 0.5rem;
  padding-bottom: 0.3rem;
}

@media (max-width: 720px) {
  .top {
    background-image: url("./assets/mobile-top-background.svg");
  }
}
@media (max-width: 632px) {
  .container {
    padding: 0.3rem 1rem;
  }
  .top {
    height: 8rem;
  }
  .topText {
    margin-top: 2rem;
  }
  .top h2 {
    font-size: 20px;
  }
  .topP {
    font-size: 15px;
  }
  .inputSection {
    flex-wrap: wrap;
    height: fit-content;
  }
  .searchSection {
    width: 100%;
    border-bottom: 1px solid var(--grey-border-color);
  }
  .searchSection .inputField {
    width: 100%;
    height: 3rem;
    border-top-right-radius: 10px;
    border: none;
  }
  .selectsContainer {
    width: 100%;
  }
  .selectsContainer .selectInput {
    padding: 0.4rem 0.8rem;
    padding-bottom: 0.7rem;
  }
  .topic {
    max-width: 100%;
  }
  .topic img {
    height: 200px;
  }
}

.hide {
  display: none;
}
