@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,700&display=swap");

:root {
  /* Default (Light Mode) */

  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --white: #ffffff;
  --grey-border-color: #d6d6d6;

  /* Dark Mode */

  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --dark-bg_default: #1a1a1a;
  --dark-bg_body: #282828;
  --dark-lines-color: #000000;
  --dark-body-text: #ededed;
  --heart-color: #dc143c;
}

body {
  font-family: "Nunito Sans", sans-serif !important;
  padding: 0px;
  margin: 0px;
  background-color: var(--bg_body);
}

.container {
  padding: 0.3rem 2.8rem;
}

.box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 15px 0px;
}

.rounded {
  border-radius: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}
.navTitle {
  color: var(--brand-primary);
  font-size: 18px;
}

.navList {
  display: flex;
  justify-content: space-between;
}
.navList .icon {
  color: var(--body-text);
  --ionicon-stroke-width: 40px;
  padding: 0px 4px;
}
.navList a {
  color: var(--dark-lines-color);
  text-decoration: none;
  border: 1px solid var(--grey-border-color);
  padding: 5px 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
  background-image: url("./assets/desktop-top-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--white);
}

.topText {
  align-self: center;
  margin-top: 4rem;
}
.top h2,
.top p {
  margin: 0px;
}
.top h2 {
  color: var(--brand-secondary);
}
.top p {
  font-size: 18px;
  color: #333333;
}

.inputSection {
  margin-top: 0.7rem;
  position: relative;
  font-weight: 500;
  display: flex;
  height: 3.5rem;
  background-color: var(--white);
}
.searchInput {
  width: 70%;
  display: flex;
  justify-content: center;
  padding-left: 2.3rem;
}
.searchInput input {
  width: 100%;
  border: none;
  border: 1px solid var(--grey-border-color);
  border-top: none;
  border-bottom: none;
  border-left: none;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  outline: none;
}
.searchIcon {
  font-size: 20px;
  position: absolute;
  align-self: center;
  left: 12px;
  color: var(--body-text);
}
#sortInput {
  border: 1px solid #bababa;
  border-top: none;
  border-bottom: none;
  border-left: none;
}
.inputSection .selectInput {
  padding: 0.2rem 0.5rem;
  width: 30%;
}
.inputSection .selectInput select {
  border: none;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  outline: none;
  font-weight: 500;
  font-size: 16px;
}

.inputSection label {
  font-size: 13px;
  padding-left: 4px;
}

.topicsTitle {
  color: var(--body-text);
}

.topics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}
.topic {
  height: fit-content;
  background-color: var(--white);
  max-width: 300px;
  text-decoration: none;
  color: var(--body-text);
}
.topic img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 150px;
}

.topicDescription {
  padding: 1rem 1rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topicTitle {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.topicDescription .author {
  color: #5d5d5d;
  font-size: 14px;
  margin: 0px;
}
@media (max-width: 720px) {
  .top {
    background-image: url("./assets/mobile-top-background.svg");
  }
}
@media (max-width: 632px) {
  .container {
    padding: 0.3rem 1rem;
  }

  .top {
    height: 8rem;
  }

  .topText {
    margin-top: 2rem;
  }
  .top h2 {
    font-size: 20px;
  }
  .top p {
    font-size: 15px;
  }

  .inputSection {
    flex-wrap: wrap;
    height: fit-content;
  }
  .searchInput {
    width: 100%;
    border-bottom: 1px solid var(--grey-border-color);
  }
  .searchInput input {
    width: 100%;
    height: 3rem;
    border-top-right-radius: 10px;
    border-right: none;
  }
  .inputSection .selectInput {
    padding: 0.2rem 0.6rem;
    width: 50%;
  }

  .topic {
    max-width: 100%;
  }
  .topic img {
    height: 200px;
  }
}
