:root {
  --primary-font: "Nunito Sans", sans-serif;
  /* Default (Light Mode) */
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --white: #ffffff;
  --grey-border-color: #d6d6d6;

  /* Dark Mode */

  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --dark-bg_default: #1a1a1a;
  --dark-bg_body: #282828;
  --dark-lines-color: #000000;
  --dark-body-text: #ededed;
  --dark-author-text: #aaaaaa;
  --heart-color: #dc143c;
}

body {
  background-color: var(--dark-bg_body);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoSection {
  width: 100%;
  background-color: var(--body-text);
  color: var(--white);
  display: flex;
  height: 16rem;
  padding: 1.5rem 0rem;
}

.info span {
  color: var(--brand-secondary);
  font-size: 17px;
}
.info p {
  margin-bottom: 0px;
}
.language {
  margin: 0px;
}

aside {
  color: var(--body-text);
  background-color: var(--white);
}
aside img {
  width: 300px;
}
