:root {
  --primary-font: "Nunito Sans", sans-serif;
  /* Default (Light Mode) */
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --white: #ffffff;
  --grey-border-color: #d6d6d6;

  /* Dark Mode */

  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --dark-bg_default: #1a1a1a;
  --dark-bg_body: #282828;
  --dark-lines-color: #000000;
  --dark-body-text: #ededed;
  --dark-author-text: #aaaaaa;
  --heart-color: #dc143c;
}

#navTitle {
  color: var(--brand-primary);
  font-size: 18px;
  margin: 1rem 0rem;
  text-decoration: none;
}

.info {
  background-color: var(--dark-bg_body);
  color: var(--white);
}
.info span {
  color: var(--brand-secondary);
  font-size: 17px;
}
.language {
  margin: 0px;
}
